@import "tailwindcss";

::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}
::-webkit-scrollbar-thumb {
  background: #efe7e7;
  border-radius: 10em;
}
::-webkit-scrollbar-track {
  background: #000000;
}
html,
body {
  height: 100%;
  margin: 0;
  @apply bg-cover bg-center bg-no-repeat min-h-screen;
  background-attachment: fixed;
  background-image: url("./backgroundImage.png");
  font-family: "Suisse Int'l", sans-serif;
  color: #ffffff; /* Optional: make text white to contrast with black bg */
}

@layer components {
  .main-container {
    @apply container mx-auto px-2 md:px-4 lg:px-5 2xl:px-6;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .delay-animation {
    @apply !transition-all !ease-in-out !duration-500;
  }
}
