@import "tailwindcss";

::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}
::-webkit-scrollbar-thumb {
  background: #efe7e7;
  border-radius: 10em;
}
::-webkit-scrollbar-track {
  background: #000000;
}
html,
body {
  margin: 0;
  padding: 0;
  /* @apply min-h-screen overflow-x-hidden; */
  /* overflow-y: auto; */
  background-attachment: fixed;
  background-image: url("/backgroundImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Suisse Int'l", sans-serif;
  color: #ffffff; /* Optional: make text white to contrast with black bg */
  /* overscroll-behavior-y: none; */
}

@layer components {
  .main-container {
    /* @apply mx-auto max-w-screen w-full overflow-hidden px-[0.75rem] md:px-[1.560rem] lg:px-[3.260rem] 2xl:px-[3.8rem]; */
    @apply mx-auto max-w-screen w-full px-[0.75rem] md:px-[1.560rem] lg:px-[3.260rem] 2xl:px-[3.8rem];
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .delay-animation {
    @apply !transition-all !ease-in-out !duration-500;
  }
}

@keyframes reveal-left-to-right {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

.animate-reveal-left-to-right {
  animation: reveal-left-to-right 2.5s ease-out forwards;
}
